* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

html{
    scroll-behavior: smooth;
}
/* :root{
    --bg-color: white;
    --text-color: black;

    --white-color: white;
    --black-color: black;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
#theme:checked ~.dark-theme-container ~ body{
    --bg-color: var(--black-color);
    --text-color: var(--white-color);
} */

body {
    /* background: rgb(255, 255, 255); */
    display: grid;

    grid-template-areas:
        "topbar"
        "navbar"
        "hero-container"
        "items"
        "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 100px 210px 3fr auto;

}

/* ---------------------------------top-bar---------------------------------------- */

.ul {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 13px;
    font-family: "Fredoka", sans-serif;
    font-size: 12px;

    width: auto;
    height: auto;


}

.li {
    list-style: none;
    transition: transform 0.2s ease-in-out, border-bottom 0.2s ease-in-out;

    position: relative;
}

.li:hover {
    transform: scale(1.03);
    /* border-bottom: 1px solid rgb(141, 3, 3); */
    font-weight: 550;
}

.li::after {
    position: absolute;

    content: '';
    background: rgb(141, 3, 3);
    height: 2px;
    width: 100%;

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.4s ease-in-out;
}

.li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.a {
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 5px;
}

.a:hover {

    color: rgb(141, 3, 3);
}

.a i {
    font-size: 13px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark-theme-container{
    position: relative;
}
.theme-changer{
    position: fixed;
    right: 20px;
    top: 400px;
}
#home{
    background: var(--bg-color);
    color: var(--text-color);
}
#theme:checked + #home{
    --bg-color: var(--white-color);
    --text-color: var(var(--black-color))
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10%;

    width: 90vw;
    height: auto;

    padding: 10px 0 10px 0;

    grid-area: topbar;
}

/* --------------------------------- END-top-bar---------------------------------------- */

/* ---------------------------------nav-bar---------------------------------------- */
.nav-bar {
    /* border: 2px solid red; */
    background: white;

    /* position: sticky;
    top: 0; */

    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6);

    /* padding: 0 50px 0 100px; */

    width: 100%;
    height: 100px;
}

.left-nav-bar {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */

    /* width: 33%; */

    gap: 20px;
}

.logo-left-nav-bar h1 a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(141, 3, 3);
    font-family: "Exo 2", sans-serif;
    font-weight: 300;

}

/* .logo-left-nav-bar h1 a:hover{
    transform: scale(1.02)
} */

#logo {
    transition: transform 0.2s ease-in-out;
}

#logo:hover {
    transform: scale(1.05)
}

.nav-links-left-nav-bar ul li a {
    font-size: 18px;
}

.right-nav-bar {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: auto;
    height: auto;

    margin-left: 18%;
}

.icons-right-nav-bar {
    display: flex;
    flex-direction: row;
}

.cart {
    display: flex;
    flex-direction: row;
}

/* ---------------------------------END-nav-bar---------------------------------------- */
/* -------------------------------------------search-bar---------------------------- */
.search-bar {
    /* border: 2px solid blue; */
    display: flex;
    justify-items: center;
    align-items: center;

    height: 30px;
    width: auto;
}

#search-input{
    border: 0.5px solid black;
    border-right: none;
    outline: none;
    padding: 0 5px;

    width: 200px;
    height: 100%;

}

.search-icon {
    border: 0.5px solid black;
    border-left: none;
    background: white;
    width: 22px;
    height: 100%;
    font-size: 15.2px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-right-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.icons-right-nav-bar i {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icons-right-nav-bar>i:hover {
    transform: scale(1.2);
    color: rgb(141, 3, 3);
    ;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2px;
}

.cart i {
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

.cart>i:hover {
    transform: scale(1.2);
    color: rgb(141, 3, 3);
    ;
}

.total-amount{
    color: rgb(141, 3, 3);
}
.hamburger{
    display: none;
}
/* ----------------------------------------------END-search-bar------------------------------------------ */

/* ------------------------------------------------hero-container----------------------------------------------- */

.hero-container {
    /* border: 2px solid black; */

    grid-area: hero-container;


    /* background: url('./videos/hero.mp4'); */
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    color: white;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 200px;
    overflow: hidden;

}

.blurring-container {
    border-radius: 15%;
    background: rgba(3, 3, 3, 0.01);
    backdrop-filter: blur(10px);
    height: 100px;
    width: 180px;

    z-index: 1;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-hero {
    border: none;
    border-radius: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-container video{
    opacity: 0.8;
}
.content-hero h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

.content-hero p a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    transition: transform 0.2s ease-in-out;
}

.content-hero>p>a:hover {
    color: rgb(216, 57, 57);
    transform: scaleX(2);
    font-weight: 500;
}

/* -----------------------------------------END-hero-container--------------------------------------------------------- */

/* ---------------------------------------------items-list--------------------------------------- */
#items-list {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;

    grid-area: items;
}

/* ---------------------------------------------card-container--------------------------------------- */

.card-container {
    /* border: 2px solid red; */
    margin: 50px 0;

    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/* ---------------------------------------------END-card-container--------------------------------------- */

/* left-card-container */

.left-card-container {
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 50px;

    width: 13%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.category {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: auto;
}

.category>p {
    font-weight: 600;
    font-size: 18px;
}

.category>ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.category>ul>li {
    list-style: none;
}

.category>ul>li>a {
    text-decoration: none;
    color: black;
}

.category>ul>li>a:hover {
    color: rgb(141, 3, 3);
}

.color {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: auto;
}

.color>p {
    font-weight: 600;
    font-size: 18px;
}

.color>ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.color>ul>li {
    list-style: none;
}

.color>ul>li>a {
    text-decoration: none;
    color: black;
}

.color>ul>li>a:hover {
    color: rgb(141, 3, 3);
}

.price {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: auto;
}

.price>p {
    font-weight: 600;
    font-size: 18px;
}


/* right-card-container */
.right-card-container {
    /* border: 2px solid black; */

    width: 90%;
    height: auto;
}

.slider {
    height: 10px;
    width: 100%;
    outline: none;
    opacity: 0.6;
}

.top-right-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 10px;
}

.placeholder {
    opacity: 0.5;
}

.sorting {
    border: 1px solid black;
    height: 30px;
    padding: 0 10px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.option {
    border-radius: 0%;
}


/* -----------------------bottom-right-card-container---------------------------- */
.bottom-right-card-container {

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    /* border: 2px solid yellow; */

    gap: 10px;
    /* column-gap: 10px;
   row-gap: 10px; */

    height: auto;
    width: 100%;
}

.card {
    /* border: 0.01px solid black; */

    padding: 0 12px;
    margin-top: 50px;
    width: 325px;
    height: 330px;

    display: flex;
    flex-direction: column;
}

.card:hover {
    cursor: pointer;
}

.top-card {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.4;

}


.top-card i {
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.top-card i:hover {
    transform: scale(1.2);
    color: rgb(141, 3, 3);
    ;
}

.img-card {
    align-self: center;
}

.img-card img {
    height: 180px;
    width: 150px;

    transition: transform 0.2s ease-in-out;
}

.img-card img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.description-card {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.description-card>h3 {
    font-size: 15px
}

.description-card>h3:hover {
    cursor: pointer;
    color: rgb(141, 3, 3);
}

.rating>i {
    color: rgb(231, 223, 9);
    font-size: 15px;
}

.price-add-cart {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    font-size: 20px;
    font-weight: bold;
}

.add-cart {
    background: rgb(189, 188, 188);
    border-radius: 50%;
    height: 35px;
    width: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.4;
}

.add-cart:hover {
    background: rgb(141, 3, 3);
    color: white;
}

.add-cart>i:hover {
    cursor: pointer;
}

.pages {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
    font-size: 18px;
    opacity: 0.4;
}

.pages i {
    font-size: 15px;
}

/* ---------------------------------------------END-items-list--------------------------------------- */

/* -------------------------------------footer----------------------------------------------------- */

#footer {
    grid-area: footer;
    background: black;
}


.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.footer-template {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
}

.call-center,
.free-delivery,
.gift-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    background: #222325;
    width: 28%;
    height: 100px;
}

.footer-template img {
    height: 70px;
    width: 70px;
}

.para-h1 {
    font-size: 30px;
}

.blue-highlight {
    color: #7485f2;
    font-size: 35px;

    position: relative;
    display: inline-block;

    cursor: pointer;

    transition: transform 0.3s ease-in-out;
}

.blue-highlight:hover {
    transform: scale(1.05);
}

.blue-highlight::after {
    content: '';
    position: absolute;

    background: #7485f2;
    height: 3px;
    width: 100%;
    top: 50px;
    left: -2px;

    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;

}

.blue-highlight:hover::after {
    transform: scaleX(1);
}

.call-center-description {
    display: flex;
    flex-direction: column;
    /* width: 20%;
    height: auto; */
}

.footer-links-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;

    margin-top: 20px;

    gap: 7%;

    /* border: 2px solid red; */

}

.footer-lists {
    display: flex;
    justify-content: center;
    gap: 13%;
    /* border: 2px solid white; */
    width: 100%;
    height: auto;

    /* padding-right: -50px; */
}

.head-footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 10%;
}

.header {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.signup-newsletter {

    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26%;
}

.email-icon {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
}

#email {
    padding: 15px;
    border: none;
    width: 50%;
}

#email{
    background: rgb(196, 196, 191);
}
#email:focus{
    
    background: rgb(255, 255, 255);
     border: none;
     outline: none;
}

.send-icon{
    border: none;
    border-left: 0.4px solid black;
    background: rgb(196, 196, 191);
    color: black;
    width: 50px;
    /* height: ; */

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
}
.send-icon i{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.send-icon i:hover{
    color: rgb(141, 3, 3);
    transform: scale(1.2);
}
.header-signup {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* border: 2px solid red; */
}

.signup-description p {
    font-size: 13px;
    opacity: 0.4;
    width: 50%;
    margin-top: 10px;
}

.social-icons{
    /* border: 2px solid red; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    gap: 10px;
}

a >img{
    height: 20px;
    width: 25px;
    transition: transform 0.2s ease-in-out;
}
a>img:hover{
    transform: scale(1.2);
}

.copyright{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 15px;
}
.copyright hr{
    margin-top: 30px;
    width: 100%;
    opacity: 0.4;
}
.payment-methods img{
    height: 50px;
    width: 80px;
}
.copyright-payment-method{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.go-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.go-up:hover{
    transform: scale(1.5);
}

.fixed-button a{
    text-decoration: none;
    color: rgb(141, 3, 3);
}
/* -------------------------------------END-footer----------------------------------------------------- */
/* -------------------------media-query-------------------------- */

@media screen and (max-width: 1060px) {
    .top-bar {
        display: none;
    }

    .footer-template {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    .call-center,
    .free-delivery,
    .gift-cards {

        width: auto;
        height: 100px;
    }


}

@media screen and (max-width:1010px) {

    .nav-links-left-nav-bar,
    .search-bar,
    .icons-right-nav-bar {
        display: none;
    }

    .hamburger{
        display: block;
    }
    .card-container {
        flex-wrap: wrap-reverse;
    }

    .left-card-container {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        width: 100%;
        border: none;
    }

    .right-card-container {
        width: 100vw;
    }

}

@media screen and (max-width: 805px) {
    .nav-bar {
        border: 2px solid yellow;
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 60px); */

    }

    .footer-lists{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .head-footer-links {
        width: 200px;
        align-items: flex-start;
        align-self: center;
        margin-top: 20px;
    }
    .signup-newsletter{
        margin-top: 20px;
        width: auto;
        height: auto;

    }
    .signup-description p {
        width: auto;}
    #email {
        width: 150%;
    }
    .social-icons{
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 735px) {
    .copyright-payment-method{
        flex-direction: column;
    }
    .payment-methods{
        display: flex;
        flex-direction: column;

    }
}
@media screen and (max-width: 490px) {
   .left-card-container{
    flex-direction: column;
   }
}